<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="Anarchess"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.anarchess.io"/>
    <meta property="og:image" content="<%= Routes.static_path(@conn, "/images/logos/big.png") %>"/>
    <meta property="og:description" content="Chess but in real time"/>
    <meta property="og:site_name" content="Anarchess"/>
    <meta name="twitter:card" content="app"/>
    <meta name="twitter:creator" content="@BalthazarAubard"/>
    <title>Anarchess</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body class='<%= String.replace(Atom
.to_string(Phoenix.Controller
.controller_module(@conn)), ".", "-") %> <%= Phoenix.Controller
.action_name(@conn) %>'>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li><%= link "How to play", to: Routes.page_path(@conn, :faq) %></li>
          </ul>
        </nav>
        <a href="/" class="header-logo">
          <img src="<%= Routes.static_path(@conn, "/images/logos/big.png") %>" alt="Anarchess Logo (a bishop chess piece holding a morning star)"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert js-alert-info alert-info hidden" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert js-alert-danger alert-danger hidden" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
