<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="Anarchess"/>
    <meta property="twitter:title" content="Anarchess"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= current_url(@conn) %>"/>
    <meta property="twitter:url" content="<%= current_url(@conn) %>"/>
    <meta property="og:image" content="<%= Routes.static_path(@conn, "/images/logos/anarchess-test-preview.gif") %>"/>
    <meta property="og:image:width" content="396" />
    <meta property="og:image:height" content="386" />
    <meta property="og:description" content="Anarchess is a web game accessible without creating an account that allows you to challenge a friend or stranger. The game is presented as a classic chess game, but unlike the original version which is in turn by turn, our version is in real time."/>
    <meta property="twitter:description" content="Anarchess is a web game accessible without creating an account that allows you to challenge a friend or stranger. The game is presented as a classic chess game, but unlike the original version which is in turn by turn, our version is in real time."/>
    <meta property="og:site_name" content="Anarchess"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@BalthazarAubard"/>
    <title>Anarchess</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body class='<%= String.replace(Atom
.to_string(Phoenix.Controller
.controller_module(@conn)), ".", "-") %> <%= Phoenix.Controller
.action_name(@conn) %>'>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li><%= link "How to play", to: Routes.page_path(@conn, :faq) %></li>
          </ul>
        </nav>
        <a href="/" class="header-logo">
          <img src="<%= Routes.static_path(@conn, "/images/logos/big.png") %>" alt="Anarchess Logo (a bishop chess piece holding a morning star)"/>
        </a>
      </section>
    </header>
    <main role="main" class="container main-container">
      <p class="alert js-alert-info alert-info hidden" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert js-alert-danger alert-danger hidden" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer>
      <ul>
        <li><%= link "FAQ", to: Routes.page_path(@conn, :faq) %></li>
        <li><%= link "Contact", to: Routes.page_path(@conn, :faq) <> "#anchor-contact" %></li>
        <li><%= link "Status page", to: "https://updown.io/4jrs" %></li>
      </ul>
      <ul>
        <li><%= link "Create a game", to: Routes.game_path(@conn, :new) %></li>
        <li><%= link "Code", to: "https://github.com/Balatzar/anarchess" %></li>
        <li><%= link "Credits", to: Routes.page_path(@conn, :credits) %></li>
      </ul>
    </footer>
    <script>window.userToken = <%= get_session(@conn, :user).id %></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
