/* This file is for your main application css. */

@import "./phoenix.css";

.header-logo {
  max-width: 200px;
}

.hidden {
  display: none;
}

.messages {
  max-height: 400px;
  overflow-x: scroll;
}

#myBoard {
  width: 100vw;
  max-width: 400px;
  margin-left: -28px;
}

footer {
  clear: both;
  height: 200px;
  bottom: 0;
  border-top: 1px solid #eaeaea;
  width: calc(100vw - 20px);
  padding: 50px;
}

footer ul {
  display: inline-block;
  margin-left: 50px;
}

.main-container {
  min-height: 300px;
}
