<span><%= link "Create a game", to: Routes.game_path(@conn, :new) %></span>
<div class="js-joinGame <%= if Enum.any?(@open_games), do: '', else: 'hidden' %>">
<span><%= link "Join a game", to: Routes.game_path(@conn, :join) %></span>
<p>There are currently <span class="js-globalCount">0 players</span> connected</p>